{% extends 'base.twig' %}

{% block main %}
    <section>
        <h2>Terran VS Zerg</h2>

        {% for dino in dinosaurs %}
            <a href="/dinosaur/{{ dino.slug }}">
                <figure>
                    <img src="{{ dino.avatar }}" alt="{{ dino.name }}" />
                    <figcaption>Discover the {{ dino.name }}</figcaption>
                </figure>
            </a>
            <a href="/dinosaur/{{ dino.slug }}">
                <figure>
                    <img src="{{ dino.avatar }}" alt="{{ dino.name }}" />
                    <figcaption>Discover the {{ dino.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% endblock %}