{% extends 'base.twig' %}


{% block main %}

<div class="grid">
    <article>
        <h2>Discover the {{ perso.name }}</h2>

        <div class="description">
            {{ perso.description|markdown|raw }}
        </div>

        <div class="zerg">
            <img src="{{ perso.avatar }}" alt="{{ perso.name }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ perso.name }}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>uri</dt>
                <dd>{{perso.uri}}</dd>
            </dl>
        </div>

        <div class="abilities_zerg">
            <dl> 
                <dt>Cost</dt>
                <dd>{{perso.Cost}}</dd>
                <dt>Cost_type<dt>
                <dd>{{perso.Cost_type}}</dd>
                <dt>description</dt>
                <dd>{{perso.description}}</dd>
                <dt>duration</dt>
                <dd>{{perso.duration}}</dd>
                <dt>icon</dt>
                <dd>{{perso.icon}}</dd>
                <dt>name</dt>
                <dd>{{perso.name}}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>armor</dt>
                <dd>{{perso.armor}}</dd>
                <dt>avatar</dt>
                <dd>{{perso.avatar}}</dd>
                <dt>build_time</dt>
                <dd>{{perso.build_time}}</dd>
                <dt>damage</dt>
                <dd>{{perso.damage}}</dd>
                <dt>hitpoints</dt>
                <dd>{{perso.hitpoints}}</dd>
                <dt>hotkey</dt>
                <dd>{{perso.hotkey}}</dd>
                <dt>max_energy</dt>
                <dd>{{perso.max_energy}}</dd>
                <dt>minerals</dt>
                <dd>{{perso.minerals}}</dd>
                <dt>name</dt>
                <dd>{{perso.name}}</dd>
                <dt>picture</dt>
                <dd>{{perso.picture}}</dd>
                <dt>range</dt>
                <dd>{{perso.range}}</dd>
                <dt>sight</dt>
                <dd>{{perso.sight}}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>speed</dt>
                <dd>{{perso.speed}}</dd>
                <dt>starting_energy</dt>
                <dd>{{perso.starting_energy}}</dd>
                <dt>supply</dt>
                <dd>{{perso.supply}}</dd>
                <dt>type</dt>
                <dd>{{perso.type}}</dd>             
            </dl>
        </div>

        <div class="upgrades_zerg">
              <dl>
                <dt>build_time</dt>
                <dd>{{ perso.build_time }}</dd>
                <dt>description</dt>
                <dd>{{perso.description}}</dd>
                <dt>icon</dt>
                <dd>{{perso.icon}}</dd>
                <dt>minerals</dt>
                <dd>{{perso.minerals}}</dd>
                <dt>name</dt>
                <dd>{{perso.name}}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>vespene_gas</dt>
                <dd>{{perso.vespene_gas}}</dd>
            </dl>
        </div>
            
<div class="terran">
            <img src="{{ perso.avatar }}" alt="{{ perso.name }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ perso.name }}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>uri</dt>
                <dd>{{perso.uri}}</dd>
            </dl>
        </div>

        <div class="terran_zerg">
            <dl> 
                <dt>Cost</dt>
                <dd>{{perso.Cost}}</dd>
                <dt>Cost_type<dt>
                <dd>{{perso.Cost_type}}</dd>
                <dt>description</dt>
                <dd>{{perso.description}}</dd>
                <dt>duration</dt>
                <dd>{{perso.duration}}</dd>
                <dt>icon</dt>
                <dd>{{perso.icon}}</dd>
                <dt>name</dt>
                <dd>{{perso.name}}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>armor</dt>
                <dd>{{perso.armor}}</dd>
                <dt>avatar</dt>
                <dd>{{perso.avatar}}</dd>
                <dt>build_time</dt>
                <dd>{{perso.build_time}}</dd>
                <dt>damage</dt>
                <dd>{{perso.damage}}</dd>
                <dt>hitpoints</dt>
                <dd>{{perso.hitpoints}}</dd>
                <dt>hotkey</dt>
                <dd>{{perso.hotkey}}</dd>
                <dt>max_energy</dt>
                <dd>{{perso.max_energy}}</dd>
                <dt>minerals</dt>
                <dd>{{perso.minerals}}</dd>
                <dt>name</dt>
                <dd>{{perso.name}}</dd>
                <dt>picture</dt>
                <dd>{{perso.picture}}</dd>
                <dt>range</dt>
                <dd>{{perso.range}}</dd>
                <dt>sight</dt>
                <dd>{{perso.sight}}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>speed</dt>
                <dd>{{perso.speed}}</dd>
                <dt>starting_energy</dt>
                <dd>{{perso.starting_energy}}</dd>
                <dt>supply</dt>
                <dd>{{perso.supply}}</dd>
                <dt>type</dt>
                <dd>{{perso.type}}</dd>             
            </dl>
        </div>

        <div class="upgrades_terran">
              <dl>
                <dt>build_time</dt>
                <dd>{{ perso.build_time }}</dd>
                <dt>description</dt>
                <dd>{{perso.description}}</dd>
                <dt>icon</dt>
                <dd>{{perso.icon}}</dd>
                <dt>minerals</dt>
                <dd>{{perso.minerals}}</dd>
                <dt>name</dt>
                <dd>{{perso.name}}</dd>
                <dt>slug</dt>
                <dd>{{perso.slug}}</dd>
                <dt>vespene_gas</dt>
                <dd>{{perso.vespene_gas}}</dd>
            </dl>
        </div>
            

    </article>

    

    <aside>
        <h3>Top rated starcraft </h3>
        {% for perso in top_rated_starcraft %}
            <a href="/starcraft/{{ perso.slug }}">
                <figure>
                    <img src="{{ perso.avatar }}" alt="{{ perso.name }}" />
                    <figcaption>Discover the {{ perso.name }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}